<!DOCTYPE html>
<html>
<head>
  <title>Your App Name</title>
  <link rel="stylesheet" type="text/css" href="splash.css">
</head>
<body>
  <div class="splash">
    <h1>Welcome to Budget App</h1>
    <p>A simple and amazing web application</p>
    <div class="buttons">
      <%= link_to 'Sign up', new_user_registration_path, class: "button" %>
      <%= link_to 'Log in', new_user_session_path, class: "button" %>
    </div>
  </div>
</body>
</html>
