<!DOCTYPE html>
<html>
<head>
  <title>Your App Name</title>
  <link rel="stylesheet" type="text/css" href="splash.css">
</head>
<body>
  <div class="splash">
    <h1>W E L C O M E</h1>
    <%= image_tag 'logo.png', alt: 'A beautiful landscape', class: 'logo-img' %>
    <div class="buttons">
      <%= link_to 'LOG IN', new_user_session_path, class: "button1" %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: "button2" %>
    </div>
  </div>
</body>
</html>
