body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  width: 70vh;
  border: 1px solid grey;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button1,
.button2 {
  padding: 20px 20px;
  margin: 0 10px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  width: 87%; /* This makes the buttons expand to full width */
}

.button1 {
  background-color: #3778c2;
  color: white;
  text-decoration: none;
}

.button2 {
  color: black;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

.logo-img {
  width: 20%;
  margin-bottom: 25%;
  margin-top: 20%;
}
