<!DOCTYPE html>
<html>
<head>
  <title>Your App Name</title>
  <link rel="stylesheet" type="text/css" href="splash.css">
</head>
<body>
  <div class="splash">
    <h1>Welcome to Your App Name</h1>
    <p>A simple and amazing web application</p>
    <div class="buttons">
      <a href="/signup" class="button">Sign Up</a>
      <a href="/login" class="button">Log In</a>
    </div>
  </div>
</body>
</html>
